/* Общие свойства */
html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 30px;
}

.section {
    padding-block: 90px;
}

.buttons {
    display: flex;
    column-gap: 30px;
}

.promo-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 30px;
}

.button {
    padding: 25px 90px;
    font-size: 2em;
    color: #7875FE;
    border: 1px solid #7875FE;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    background-color: #7875FE;
    color: #fff;
}

.button:focus {
    background-color: #DAD9FB;
}

/* Общие свойства */


/* Header свойства */

.header {
    padding-block: 30px;
    border-bottom: 1px solid #DDDDDD;
}

.header__menu {
    margin-left: auto;
}

.header__menu-list {
    display: flex;
    column-gap: 60px;
    font-size: 2em;
    color: #4C5866;
}

.header__menu-list-link {
    transition: 0.5s;
    outline: none;
}

.header__buttons-login {
    outline: none;
}

.header__menu-list-link:hover {
    color: #7875FE;
}

.header__menu-list-link:focus {
    background-color: #DAD9FB;
}

.header__buttons-login-image:hover,
.header__buttons-search-image:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(57%) saturate(7053%) hue-rotate(219deg) brightness(100%) contrast(100%);
}

.header__buttons-login:focus,
.header__buttons-search:focus {
    background-color: #DAD9FB;
}

.header__buttons {
    margin-left: 60px;
}

/* Header свойства */


/* Term section свойства */
.main__term {
    align-items: center;
    padding-bottom: 0;
}

.section__term-text-heading {
    font-size: 6em;
    max-width: 440px;
    line-height: 60px;
    color: #4C5866;
}

.section__term-text-paragraph {
    font-size: 1.8em;
    max-width: 435px;
    color: #85859B;
}

/* Term section свойства */


/* Promo section свойства */
.main__promo {
    background-color: #EBEBEB;
}

.section__promo-container {
    flex-direction: column;
    row-gap: 90px;
}

.section__promo-list {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}

.section__promo-list-item {
    border-top: 1px solid #C0C0C0;
    padding-top: 20px;

    display: flex;
    column-gap: 30px;
    align-items: center;
}

.section__promo-list-text {
    font-size: 1.8em;
    max-width: 160px;
}

.section__promo-list-text-line {
    color: #666666;
}

.section__promo-list-text-paragraph {
    color: #85859B;
}

.section__promo-paper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__promo-paper-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__promo-paper-text-heading {
    font-size: 4em;
    color: #666666;
    max-width: 350px;
    line-height: 40px;
}

.section__promo-paper-text-paragraph {
    font-size: 1.8em;
    color: #85859B;
    max-width: 340px;
    line-height: 30px;
}
/* Promo section свойства */
