/* Общие свойства */
html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 30px;
}

.section {
    padding-block: 90px;
}

.buttons {
    display: flex;
    column-gap: 30px;
}

.promo-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 30px;
}

.promo-text__heading {
    color: #4C5866;
}

.promo-text__paragraph {
    color: #85859B;
}

.button {
    padding: 25px 90px;
    font-size: 2em;
    color: #7875FE;
    border: 1px solid #7875FE;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    background-color: #7875FE;
    color: #fff;
}

.button:focus {
    background-color: #DAD9FB;
}

/* Общие свойства */


/* Header свойства */

.header {
    padding-block: 30px;
    border-bottom: 1px solid #DDDDDD;
}

.header__menu {
    margin-left: auto;
}

.header__menu-list {
    display: flex;
    column-gap: 60px;
    font-size: 2em;
}

.header__menu-list-link {
    transition: 0.5s;
    outline: none;
    color: #4C5866;
}

.header__buttons-login {
    outline: none;
}

.header__menu-list-link:hover {
    color: #7875FE;
}

.header__menu-list-link:focus {
    background-color: #DAD9FB;
}

.header__buttons-login-image:hover,
.header__buttons-search-image:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(57%) saturate(7053%) hue-rotate(219deg) brightness(100%) contrast(100%);
}

.header__buttons-login:focus,
.header__buttons-search:focus {
    background-color: #7875FE;
}

.header__buttons {
    margin-left: 60px;
}

@media screen and (max-width: 992px) {
    .header {
        padding-block: 30px;
        border-bottom: 1px solid #DDDDDD;
    }

    .header__container {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    .header__logo {
        padding-left: 40px;
        margin-bottom: 20px;
    }

    .header__menu {
        order: 3;
        padding-top: 20px;
        padding-inline: 40px;
        width: 100%;
        border-top: 1px solid #DDDDDD;
    }

    .header__menu-list {
        justify-content: space-between;
        font-size: 1.8em;
        column-gap: 0;
    }

    .header__buttons {
        padding-right: 40px;
        align-items: baseline;
    }
}

/* Header свойства */


/* Term section свойства */

.section__term-container {
    position: relative;
}

.section__term-text-heading {
    font-size: 6em;
    max-width: 440px;
    line-height: 60px;
}

.section__term-text-paragraph {
    font-size: 1.8em;
    max-width: 435px;
}

.section__term-image {
    position: absolute;
    top: -40px;
    right: -300px;
    max-width: 740px;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .main__term {
        padding-bottom: 0;
    }

    .section__term-container {
        overflow-x: clip;
    }

    .section__term-text-heading {
        font-size: 4em;
        max-width: 320px;
    }
    .section__term-text {
        margin-bottom: 60px;
    }
    .section__term-text-paragraph {
        font-size: 1.6em;
    }

    .section__term-image {
        max-width: 400px;
        right: -150px;
    }
}

/* Term section свойства */


/* Promo section свойства */
.main__promo {
    background-color: #EBEBEB;
}

.section__promo-container {
    flex-direction: column;
    row-gap: 90px;
}

.section__promo-list {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}

.section__promo-list-item {
    border-top: 1px solid #C0C0C0;
    padding-top: 20px;

    display: flex;
    column-gap: 30px;
    align-items: center;
}

.section__promo-list-text {
    font-size: 1.8em;
    max-width: 160px;
}

.section__promo-list-text-line {
    color: #666666;
}

.section__promo-list-text-paragraph {
    color: #85859B;
}

.section__promo-paper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__promo-paper-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__promo-paper-text-heading {
    font-size: 4em;
    color: #666666;
    max-width: 350px;
    line-height: 40px;
}

.section__promo-paper-text-paragraph {
    font-size: 1.8em;
    color: #85859B;
    max-width: 340px;
    line-height: 30px;
}

@media screen and (max-width: 992px) {
    .section__promo-list {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }

    .section__promo-list-item {
        max-width: 210px;
        flex-direction: column;
    }
    .section__promo-paper-image {
        max-width: 400px;
    }

    .section__promo-list-text {
        font-size: 1.4em;
    }

    .section__promo-paper-text-heading {
        font-size: 3em;
        line-height: 30px;
        max-width: 220px;
    }


}
/* Promo section свойства */


/* Marketing section свойства */
.section__marketing-container {
    display: flex;
    gap: 30px;
}

.section__marketing-item {
    display: flex;
    flex-direction: column;
    max-width: 255px;
}

.section__marketing-heading {
    font-size: 3em;
    color: #666666;
    margin-top: 20px;
}

.section__marketing-subtitle {
    font-size: 1.4em;
    color: #B5B5BD;
    margin-block: 8px;
}

.section__marketing-paragraph {
    font-size: 1.8em;
    line-height: 30px;
    color: #85859B;
}

.section__marketing-link {
    font-size: 2em;
    color: #7875FE;
    margin-top: 20px;
    outline: none;
    transition: 0.5s;
}

.section__marketing-link:focus {
    background-color: #DAD9FB;
}

@media screen and (max-width: 992px) {
    .section__marketing-container {
        flex-wrap: wrap;
    }

    .section__marketing-item {
        max-width: 320px;
    }

    .section__marketing-paragraph {
        font-size: 1.6em;
    }
}

/* Marketing section свойства */

/* Company section свойства */
.main__company {
    background-color: #EBEBEB;
}

.section__company-container {
    justify-content: center;
    gap: 30px;
}


.section__company-image {
    border: 1px solid #C4C4C4;
    width: 255px;
    padding: 30px 25px;
}

@media screen and (max-width: 992px) {
    .section__company-container {
        flex-wrap: wrap;
        gap: 70px;
        justify-content: space-between;
    }

    .section__company-image {
        height: 155px;
    }
}

/* Company section свойства */

/* Book section свойства */

.section__book-container {
    position: relative;
    align-items: center;
    gap: 30px;
}

.section__book-heading {
    font-size: 4em;
    max-width: 300px;
}

.section__book-paragraph {
    font-size: 1.8em;
    max-width: 350px;
}

.main__book-image {
    position: absolute;
    width: 620px;
    right: 0;
    top: 10px;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .section__book-container {
        overflow-x: clip;
    }

    .section__book-heading {
        font-size: 3em;
    }

    .section__book-paragraph {
        font-size: 1.6em;
        max-width: 290px;
    }

    .main__book-image {
        width: 450px;
        right: -30px;
    }
}

/* Book section свойства */

/* Footer свойства */
.footer {
    background-color: #4C5866;
    padding-top: 30px;
}

.footer__container {
    margin-bottom: 30px;
}

.footer__logo {
    filter: invert(100%) sepia(23%) saturate(0%) hue-rotate(190deg) brightness(115%) contrast(102%)
}

.footer__button:hover,
.footer__button-image:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(57%) saturate(7053%) hue-rotate(219deg) brightness(100%) contrast(100%);
}

.footer__button:focus {
    background-color: #DAD9FB;
}

.footer__note {
    background-color: #ffffff;
    text-align: center;
    font-size: 1.3em;
}

/* Footer свойства */


