/* Общие свойства */
html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 30px;
}

.buttons {
    display: flex;
    column-gap: 30px;
}

/* Общие свойства */


/* Header свойства */

.header {
    padding-block: 30px;
    border-bottom: 1px solid #DDDDDD;
}

.header__menu {
    margin-left: auto;
}

.header__menu-list {
    display: flex;
    column-gap: 60px;
    font-size: 2em;
    color: #4C5866;
}

.header__menu-list-link {
    transition: 0.5s;
    outline: none;
}

.header__buttons-login {
    outline: none;
}

.header__menu-list-link:hover {
    color: #7875FE;
}

.header__menu-list-link:focus {
    background-color: #DAD9FB;
}

.header__buttons-login-image:hover,
.header__buttons-search-image:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(57%) saturate(7053%) hue-rotate(219deg) brightness(100%) contrast(100%);
}

.header__buttons-login:focus,
.header__buttons-search:focus {
    background-color: #DAD9FB;
}

.header__buttons {
    margin-left: 60px;
}

/* Header свойства */
